In [2]:
import pandas as pd
import numpy as np

In [3]:
sample_array = np.array([1,2,3,4,5])

sample_df = pd.DataFrame({
    'col' : sample_array,
    'col2' : sample_array * 2, # 상수배
    'col3' : ['A', 'B', 'C', 'D', 'E']
})
print(sample_df)

   col  col2 col3
0    1     2    A
1    2     4    B
2    3     6    C
3    4     8    D
4    5    10    E

In [6]:
df_1 = pd.DataFrame({
    'col1': np.array([1,2,3]),
    'col2': np.array(['A', 'B', 'C'])
})

df_2 = pd.DataFrame({
    'col1': np.array([4,5,6]),
    'col2': np.array(['D', 'E', 'F'])
})

print(pd.concat([df_1, df_2]))

   col1 col2
0     1    A
1     2    B
2     3    C
0     4    D
1     5    E
2     6    F

In [8]:
print(pd.concat([df_1, df_2], axis=1))

   col1 col2  col1 col2
0     1    A     4    D
1     2    B     5    E
2     3    C     6    F

In [9]:
print(pd.concat([df_1, df_2], axis=0))

   col1 col2
0     1    A
1     2    B
2     3    C
0     4    D
1     5    E
2     6    F

In [11]:
print(df_1.query('col2 == "A" & col1 == 1'))

   col1 col2
0     1    A