In [1]:
import numpy as np
import pandas as pd

from scipy import stats

In [2]:
fish_length = np.array([2,3,3,4,4,4,4,5,5,6])
fish_length

array([2, 3, 3, 4, 4, 4, 4, 5, 5, 6])

In [3]:
fish_length_df = pd.DataFrame({
    'length': fish_length,
})
fish_length_df

   length
0       2
1       3
2       3
3       4
4       4
5       4
6       4
7       5
8       5
9       6

In [5]:
sample_size = len(fish_length_df)
sample_size

10

In [6]:
df_as_array = fish_length_df.to_numpy()
np.sum(df_as_array)

40

In [7]:
sample_mean = np.sum(df_as_array) / sample_size
sample_mean

4.0

In [11]:
sample_variance = np.sum((df_as_array - sample_mean) ** 2) / sample_size
print(sample_variance)

1.2

In [12]:
s2 = np.var(df_as_array, ddof=0)
s2

1.2

In [13]:
unbiased_variance = sample_variance = np.sum((df_as_array - sample_mean) ** 2) / (sample_size - 1)
unbiased_variance

1.3333333333333333

In [14]:
round(unbiased_variance, 3) # u^2 as u2

1.333

In [15]:
round(np.var(df_as_array, ddof=1), 3)

1.333

In [19]:
standard_deviation = np.sqrt(s2)
round(standard_deviation, 3)

1.095

In [18]:
round(np.std(df_as_array, ddof=0), 3)

0.0

In [21]:
# Coefficient of Variation => 변동계수
# CV = s(standard deviation) / x (sample mean)
cv = sample_variance / sample_mean
round(cv, 3)

0.333

In [24]:
round(stats.variation(df_as_array)[0], 3) # get CV of length of fishes

0.274

In [26]:
round(stats.variation(df_as_array, ddof=1)[0], 3)

0.289